data/Library.xml
data/library_cache.json
config/config.json
.vscode/settings.json
_castcrew.py
.DS_Store
src/__pycache__/ascii_art.cpython-314.pyc
src/__pycache__/music_library.cpython-314.pyc
src/__pycache__/playback.cpython-314.pyc
src/__pycache__/ui_utils.cpython-314.pyc
src/__pycache__/config.cpython-314.pyc
src/__pycache__/history.cpython-314.pyc
src/__pycache__/lyric_timer.cpython-314.pyc
src/__pycache__/main.cpython-314.pyc
src/__pycache__/menus.cpython-314.pyc
src/__pycache__/metadata_browser.cpython-314.pyc
src/__pycache__/prompt.cpython-314.pyc
src/__pycache__/state.cpython-314.pyc
src/__pycache__/terminal_input.cpython-314.pyc
pyrightconfig.json
